

<div class="row">
  <div class="col">
    <input #termino type="text" name="search" id="" (keyup)="search(termino.value)" class="form-control"
      placeholder="Search Artist">
  </div>
</div>

<app-loading class="mb-5" *ngIf="loading"></app-loading>

<div class="row" >
  <div class="col-md-12">
    <div *ngIf="artists.length > 0" class="m-5">
      <h3> Artist <span style="font-size: 68%;font-weight: 500;"> ({{ artists.length }}) </span> </h3>
      <hr>
    </div>

      <app-cards [items]="artists" *ngIf="!loading" class="row row-cols-1 row-cols-md-3 g-4"></app-cards>    

  </div>
  <div class="col-md-12">
    <div *ngIf="albums.length > 0" class="m-5">
      <h3> Albums <span style="font-size: 68%;font-weight: 500;"> ({{ albums.length }}) </span> </h3>
      <hr>
    </div>

    <app-cards [items]="albums" *ngIf="!loading" class="row row-cols-1 row-cols-md-3 g-4"></app-cards>
    
  </div>
