<!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
  <div class="col" *ngFor="let item of items">
    <div class="card puntero" (click)="showArtist(item)">
      <img [src]="item.images | noimage" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text" *ngIf="item.genres">

          <span *ngFor="let genre of item.genres" class="badge rounded-pill text-bg-secondary">
            {{ genre }}
          </span>
        </p>
        <p class="card-text" *ngIf="item.artists">
            <span *ngFor="let artistS of item.genres" class="badge rounded-pill text-bg-secondary">
            {{ artistS.name }}
            </span>
        </p>
        <p class="card-text"  *ngIf="item.genres">
            <small class="text-body-secondary">{{ item.type }}</small>
        </p>
        <p class="card-text" *ngIf="item.artists">
            <small class="text-body-secondary">Release Date: {{ item.release_date }}</small>
        </p>
      </div>
    </div>
  </div>
<!-- </div> -->
