<app-loading class="mb-5" *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" alt="" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3> {{ artist.name }} </h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank" class="btn btn-outline-info btn-sm">
                Pagina del Artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">
            Regresar
        </button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table class="table table-hover" style="color:white;">
            <thead>
                <tr>
                    <td>
                        Img
                    </td>
                    <td>
                        Album
                    </td>
                    <td>
                        Song
                    </td>
                    <td>
                        Preview
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks">
                    <td>
                        <img [src]="track.album.images | noimage" alt="" class="img-thumb">
                    </td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <!-- {{ track.uri | domeseguro }} -->
                        <iframe [src]="track.id | domeseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" frameborder="0"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>